{% extends 'base.html.twig' %}


{% block title %}Bienvenue sur sortir.com {% endblock %}



{% block body %}
    <div class="home">
        <h1>Bienvenue sur sortir.com</h1>
    </div>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    {# menu déroulant #}
                    <div>
                        <div>
                            <h5>Filtrer les sorties :</h5>
                        </div>
                        <label for="sites">Sites:</label>
                        <select name="my_html_select_box">
                            <option>AMSTERDAM</option>
                            <option>NANTES</option>
                            <option>PARIS</option>
                        </select>
                    </div>

                    {# barre de recherche #}
                    <div class="input-group rounded">
                        <label for="search"></label>

                        <input type="text" id="myInput" class="form-control rounded" placeholder="Search"
                               aria-label="Search"
                               aria-describedby="search-addon" onkeyup="myFunction()"/>
                        <include class="icone-loupe"></include>
                    </div>
                    </br>
                    <form>
                        <div class="row">
                            <label for="DebutSortie">&emsp;Entre :&ensp;</label>
                            <input type="date" id="DSortie" name="DebSortie">
                            <label for="finSortie">&ensp;Et :&ensp;</label>
                            <input type="date" id="SSortie" name="finSorie">
                        </div>
                    </form>
                </div>

                <div class="col-sm-5">

                    {# boutton chekbox #}
                    <div>
                        <div>
                            <input type="checkbox"  id="organisateur" name="organisateur" onclick="tri()">
                            <label for="orga">Sorties dont je suis l'organisateur/trice</label>
                        </div>

                        <div>
                            <input type="checkbox"  id="inscrit" name="inscrit" onclick="tri()">
                            <label for="orga">Sorties auquelles je me suis inscrit/e</label>
                        </div>

                        <div>
                            <input type="checkbox"  id="pInscrit" name="pinscrit" onclick="tri()">
                            <label for="orga">Sorties auquelles je ne suis pas inscrit/e</label>
                        </div>

                        <div>
                            <input type="checkbox"  id="pass" name="pass" onclick="tri()">
                            <label for="orga">Sorties passées :</label>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row col-xl-col-12 mt-4">
            <table class="table table-striped table-dark" id="myTable">
                <style>
                    table, th, td {
                        padding: 10px;
                        border: 1px solid black;
                        border-collapse: collapse;

                    }
                </style>
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">NbInscrits</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>

                {% for sortie in sorties %}
                    {% if(sortie.etat.id != 2 and sortie.etat.id != 6 ) %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateheuredebut|date("m/d/Y H:i") }}</td>
                        <td>{{ sortie.dateLimiteInscription|date("m/d/Y H:i") }}</td>


                        <td>
                            {% if sortie.etat.id == 1 %}
                                <p>Publiée</p>
                            {% endif %}
                            {% if sortie.etat.id == 2 %}
                                <p>Brouillon</p>
                            {% endif %}
                            {% if sortie.etat.id == 3 %}
                                <p>Annulé</p>
                            {% endif %}
                            {% if sortie.etat.id == 5 %}
                                <p>Evenement en cours</p>
                            {% endif %}
                            {% if sortie.etat.id == 6 %}
                                <p>Evenement terminée</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if (app.user not in sortie.idparticipant) %}
                                <p>X</p>
                            {% endif %}
                            {% if(app.user in sortie.idparticipant) %}
                                <p>O</p>
                            {% endif %}
                        </td>
                        <td>{{ sortie.idparticipant|length }} / {{ sortie.nbInscriptionsMax }}</td>
                        <td>
                            <a href="{{ path('participant_profilParticipant',{'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a>
                        </td>
                        <td><a href="{{ url('sortie_detailSortie', {'id': sortie.id}) }}">Afficher</a></td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

    <script>
        function tri() {
            var filter, table, tr, td1, td2, td3, i, ck1, ck2, ck3, ck4, value;
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            //filter = input.value.toUpperCase();
            ck1 = document.getElementById("organisateur");
            ck2 = document.getElementById("inscrit");
            ck3 = document.getElementById("pInscrit");
            ck4 = document.getElementById("pass");
            //td2 = tr[i].getElementsByTagName("td")[4];
            //td3 = tr[i].getElementsByTagName("td")[3];
            if (ck1.checked && !ck2.checked && !ck4.checked && !ck3.checked) {//&& !ck2.checked && !ck4.checked && !ck3.checked){
                for (i = 0; i < tr.length; i++) {
                    td1 = tr[i].getElementsByTagName("td")[6];
                    if (td1) {
                        value = td1.innerText;
                        if (value === "{{app.user.pseudo}}") {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
            else if(ck1.checked && ck2.checked && !ck3.checked && ck4.checked){
                for (i = 0; i < tr.length; i++) {
                    td1 = tr[i].getElementsByTagName("td")[6];
                    td2 = tr[i].getElementsByTagName("td")[4];
                    td3 = tr[i].getElementsByTagName("td")[3];
                    if (td1) {
                        let v1 = td1.innerText;
                        let v2 = td2.innerText;
                        let v3 = td3.innerText;
                        if (v1 === "{{app.user.pseudo}}" || v2==="O" || v3==="Evenement terminée") {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
            else if(ck1.checked && !ck2.checked && ck3.checked && !ck4.checked){
                for (i = 0; i < tr.length; i++) {
                    td1 = tr[i].getElementsByTagName("td")[6];
                    td2 = tr[i].getElementsByTagName("td")[4];
                    if (td1) {
                        let v1 = td1.innerText;
                        let v2 = td2.innerText;
                        if (v1 === "{{app.user.pseudo}}" || v2==="X") {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
            else if(!ck1.checked && ck2.checked && !ck3.checked && ck4.checked){
                for (i = 0; i < tr.length; i++) {
                    td1 = tr[i].getElementsByTagName("td")[4];
                    td2 = tr[i].getElementsByTagName("td")[3];
                    if (td1) {
                        let v1 = td1.innerText;
                        let v2 = td2.innerText;
                        if (v1 === "O" || v2==="Evenement terminé") {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
            else if(!ck1.checked && !ck2.checked && ck3.checked && !ck4.checked){
                for (i = 0; i < tr.length; i++) {
                    td1 = tr[i].getElementsByTagName("td")[4];
                    if (td1) {
                        let v1 = td1.innerText;
                        if ( v1==="X") {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
            else if(!ck1.checked && ck2.checked && !ck3.checked && !ck4.checked){
                for (i = 0; i < tr.length; i++) {
                    td1 = tr[i].getElementsByTagName("td")[4];
                    if (td1) {
                        let v1 = td1.innerText;
                        if ( v1==="O") {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
            else if(ck1.checked && !ck2.checked && !ck3.checked && !ck4.checked){
                for (i = 0; i < tr.length; i++) {
                    td1 = tr[i].getElementsByTagName("td")[6];
                    if (td1) {
                        let v1 = td1.innerText;
                        if ( v1 === "{{app.user.pseudo}}") {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
            else if(ck1.checked && ck2.checked && !ck3.checked && ck4.checked){
                for (i = 0; i < tr.length; i++) {
                    td1 = tr[i].getElementsByTagName("td")[6];
                    td2 = tr[i].getElementsByTagName("td")[4];
                    td3 = tr[i].getElementsByTagName("td")[3];
                    if (td1) {
                        let v1 = td1.innerText;
                        let v2 = td2.innerText;
                        let v3 = td3.innerText;
                        if (v1 === "{{app.user.pseudo}}" || v2==="X" || v3==="Evenement terminée") {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
            else if(ck1.checked && ck2.checked && !ck3.checked && !ck4.checked){
                for (i = 0; i < tr.length; i++) {
                    td1 = tr[i].getElementsByTagName("td")[6];
                    td2 = tr[i].getElementsByTagName("td")[4];
                    if (td1) {
                        let v1 = td1.innerText;
                        let v2 = td2.innerText;

                        if (v1 === "{{app.user.pseudo}}" || v2==="X" ) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
            else if(!ck1.checked && !ck2.checked && ck3.checked && ck4.checked){
                for (i = 0; i < tr.length; i++) {
                    td1 = tr[i].getElementsByTagName("td")[4];
                    td2 = tr[i].getElementsByTagName("td")[3];
                    if (td1) {
                        let v1 = td1.innerText;
                        let v2 = td2.innerText;
                        if ( v1 === "X" || v2 === "Evennement terminer" ) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        else
            {
                for (i = 0; i < tr.length; i++)
                tr[i].style.display = "";
            }
        }

        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
{% endblock %}

