{% extends 'base.html.twig' %}

{% block title %}Bonjour, {% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body row justify-content-center">
            <div class="col-auto text-center">
                <h1 class="d-block">{{ app.user.nom }} {{ app.user.prenom }}</h1>
                <p class="title d-block"><b>{{ app.user.pseudo }}</b></p>
                {% if app.user.mail is not null %}
                    <a href="#" class="d-block"><i class="fas fa-at"></i> {{ app.user.mail }}</a>
                {% endif %}
                {% if app.user.telephone is not null %}
                    <a href="#" class="d-block"><i class="fas fa-phone"></i> {{ app.user.telephone }}</a>
                {% endif %}
            </div>
            <div class="col-auto w-100">
                {% if edit %}
                    {% if form is not null %}
                        {{ form(form) }}
                    {% endif %}
                {% elseif edit_password %}
                    {% if form is not null %}
                        {{ form(form) }}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}