{% extends 'base.html.twig' %}

{% block title %}Bonjour,{{ p.nom}} {% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center ">
    <div class="card p-4 mt-2 ">
        <div class="first">
            <h1 class="heading">{{ p.nom }} {{ p.prenom }}</h1>
            <div class="time d-flex flex-row align-items-center justify-content-between mt-3">
                <div class="d-flex align-items-center"><span class="hour ml-1">Pseudo : {{ p.pseudo }}</span>
                </div>
            </div>
        </div>
        <div class="second d-flex flex-row mt-2">

            <div class="">
                {% if p.mail is not null %}
                    Mail :
                    <a href="#" class="d-block"> {{ p.mail }}</a>
                {% endif %}
                {% if p.telephone is not null %}
                    Numéro de Téléphone :
                    <a href="#" class="d-block"> {{ p.telephone }}</a>
                {% endif %}
                Campus :
                <a href="#" class="d-block"> {{ p.site.nom }} </a>
            </div>
        </div>
        <hr class="line-color">
    </div>
    </div>
{% endblock %}