{% extends 'base.html.twig' %}

{% block title %}Bonjour,{{ app.user.nom}} {% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body row justify-content-center">
            <div class="col-auto text-center">
                <h1 class="d-block">{{ app.user.nom }} {{ app.user.prenom }}</h1>
                <p class="title d-block"><b>{{ app.user.pseudo }}</b></p>
                {% if app.user.mail is not null %}
                    <a href="#" class="d-block"><i class="fas fa-at"></i> {{ app.user.mail }}</a>
                {% endif %}
                {% if app.user.telephone is not null %}
                    <a href="#" class="d-block"><i class="fas fa-phone"></i> {{ app.user.telephone }}</a>
                {% endif %}
                {% if app.user.imageFileName is not null %}
                    <img src="{{ asset('build/uploads/imageUser/' ~ app.user.imageFileName) }}">
                {% endif %}
            </div>
        </div>
        {% if app.user.id is not null %}
        <div class="col text-center">
            <a class="btn btn-info" href="{{ url('participant_update') }}">Modifier</a>
        </div>
        {% endif %}
    </div>
{% endblock %}