{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Profil{% endblock %}

{% block body %}

    {% form_theme formUser 'bootstrap_4_layout.html.twig' %}


        <div class="row" align="center">
            <div class="col">
                <h2>Mon profil</h2>
                <hr>
            </div>
        </div>

        {{ form_start(formUser) }}

        <div class="form-group" >
            {{ form_row(formUser.pseudo) }}
        </div>

        <div class="form-group" >
            {{ form_row(formUser.nom) }}
        </div>

        <div class="form-group" >
            {{ form_row(formUser.prenom) }}
        </div>

        <div class="form-group" >
            {{ form_row(formUser.mail) }}
        </div>

        <div class="form-group" >
            {{ form_row(formUser.telephone) }}
        </div>

        <div class="form-group" >
            {{ form_row(formUser.passwordPlain) }}
        </div>

        <div class="form-group" >
            <button class="btn btn-light mt-4" type="submit">Confirmer</button>
        </div>
        <div class="form-group" >
            <a class="btn btn-light mt-4" href="{{ path('participant_profil') }}">Annuler</a>
        </div>

        {{ form_end(formUser) }}


{% endblock %}
