{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Profil{% endblock %}

{% block body %}

    <div class="container-fluid pt-4">
        <div class="row" align="center">
            <div class="col">
                <h2>Mon profil</h2>
                <hr>
            </div>
        </div>
        {{ form_start(formUser) }}
        <div class="row justify-content-center" align="center">
            <div class="col-12 col-md-6 col-lg-4">
                {{ form_row(formUser.pseudo) }}
            </div>
            <div class="col-12 col-md-6 col-lg-4">
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-12 col-md-6 col-lg-4">
                {{ form_row(formUser.nom) }}
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                {{ form_row(formUser.prenom) }}
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-12 col-md-6 col-lg-4">
                {{ form_row(formUser.mail) }}
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                {{ form_row(formUser.telephone) }}
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-12 col-md-6 col-lg-4" required="false">
                {{ form_row(formUser.passwordPlain) }}
            </div>
        </div>

        <div class="row justify-content-center mb-4">
            <div class="col-6 col-md-4 col-lg-2 text-center">
                <button class="btn btn-light mt-4" type="submit">Confirmer</button>
            </div>
            <div class="col-6 col-md-4 col-lg-2 text-center">
                <a class="btn btn-light mt-4" href="{{ path('participant_profil') }}">Annuler</a>
            </div>
        </div>
        {{ form_end(formUser) }}
    </div>

{% endblock %}
