{% extends 'base.html.twig' %}

{% block title %} Détail d'une sortie {% endblock %}

{% block top %}
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Sortie {{ sortie.nom }}</h1>

        <p class="lead" style="margin-top: 50px;">Durée de l'évènement: {{ sortie.duree }}</p>
        <p class="lead" style="margin-top: 50px;">Date de début: {{ sortie.dateHeureDebut |date("m/d/Y") }}</p>
        <p class="lead" style="margin-top: 50px;">Date Limite d'inscription: {{ sortie.dateLimiteInscription |date("m/d/Y") }}</p>
        <p class="lead" style="margin-top: 50px;">Nombre maximum d'inscrit: {{ sortie.nbInscriptionsMax }}</p>
        <p class="lead" style="margin-top: 50px;">Description de la sortie: {{ sortie.infoSortie }}</p>
        <p class="lead" style="margin-top: 50px;">Nombre Participant : {{ sortie.iddparticipant| length }}/ {{ sortie.nbInscriptionsMax }}</p>
    </div>
    {% if(sortie.iddparticipant| length < sortie.nbInscriptionsMax) and app.user not in sortie.iddparticipant %}

    <a class="btn btn-lg btn-primary" href="{{ path('sortie_inscriptionSortie', {"id": sortie.id }) }}">S'inscrire</a>
    {% endif %}
    {% if(app.user in sortie.iddparticipant) %}
    <a class="btn btn-lg btn-primary" href="{{ path('sortie_desinscriptionSortie', {"id": sortie.id }) }}">Se désinscrire</a>
    {% endif %}


{% endblock %}