{% extends 'base.html.twig' %}
{% block head %}
    <script src="assets/app.js"></script>
{% endblock %}

{% block body %}

    <h1>Modifier votre sortie</h1>

    {% form_theme formSortie 'bootstrap_4_layout.html.twig' %}


    {# read and display all flash messages #}
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


    {{ form_start(formSortie) }}

    <div class="container">

        <div class="form-group" >
            {{ form_label((formSortie.nom)) }}
            {{ form_widget(formSortie.nom, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label((formSortie.dateHeureDebut)) }}
            {{ form_widget(formSortie.dateHeureDebut, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label((formSortie.duree)) }}
            {{ form_widget(formSortie.duree, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label((formSortie.dateLimiteInscription)) }}
            {{ form_widget(formSortie.dateLimiteInscription, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label((formSortie.nbInscriptionsMax)) }}
            {{ form_widget(formSortie.nbInscriptionsMax, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label((formSortie.infoSortie)) }}
            {{ form_widget(formSortie.infoSortie, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
                {{ form_row(formSortie.lieu,  {'attr': {'class': 'form-control'}}) }}
        </div>

            <p id='ville'> Ville : </p>


            <p id='cp'> Code Postal : </p>


            <p id='rue'> Rue : </p>


            <p id='latitude'> Latitude : </p>


            <p id='longitude'> Longitude : </p>

        <div>
            <button class="btn btn-primary" type="submit" name="envoyer" value="enregistrer">Enregistrer</button>
            <button class="btn btn-primary" type="submit" name="envoyer" value="publier">Publier</button>
            <a class="btn btn-lg btn-primary" href="{{ url('sortie_detailSortie', {'id': sortie.id}) }}">Annuler</a>
        </div>


    </div>
    {{ form_end(formSortie) }}

    <script>

        const URL = "{{ path('api_lieu_api', {id:0}) }}";
        let lieu = document.getElementById('update_sortie_lieu');
        let ville = document.getElementById('ville');
        let cp = document.getElementById('cp');
        let rue = document.getElementById('rue');
        let latitude = document.getElementById('latitude');
        let longitude = document.getElementById('longitude');
        lieu.addEventListener('change', function () {
            let index = lieu.value;
            let url = URL.replace('0', index);
            $.ajax({
                url: url,
                type: 'GET',
                //data: {id: index},
                success: function (data) {
                    ville.innerHTML = "Ville : " + data.ville.nom;
                    cp.innerHTML = "Code Postal : " + data.ville.codePostal;
                    rue.innerHTML = "Rue : " + data.rue;
                    latitude.innerHTML = "Latitude : " + data.latitude;
                    longitude.innerHTML = "Longitude : " + data.longitude;
                },
                error: function (jqXHR, status, error) {
                    console.log('error' + error);
                }
            });
        })
    </script>

{% endblock %}




