{% extends 'base.html.twig' %}

{% block title %}Création d'une sortie <script src="/assets/app.js"></script>
{% endblock %}


{% block body %}

    <h1>Création d'une nouvelle sortie</h1>

    {% form_theme formSortie 'bootstrap_4_layout.html.twig' %}

    {# read and display all flash messages #}
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


    {{ form_start(formSortie) }}

    <div class="container">

        <div class="form-group" >
            {{ form_label((formSortie.nom)) }}
            {{ form_widget(formSortie.nom, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label((formSortie.dateHeureDebut)) }}
            {{ form_widget(formSortie.dateHeureDebut, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label((formSortie.duree)) }}
            {{ form_widget(formSortie.duree, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label((formSortie.dateLimiteInscription)) }}
            {{ form_widget(formSortie.dateLimiteInscription, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label((formSortie.nbInscriptionsMax)) }}
            {{ form_widget(formSortie.nbInscriptionsMax, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label((formSortie.infoSortie)) }}
            {{ form_widget(formSortie.infoSortie, {'attr': {'class': 'form-control'}}) }}
        </div>
{#
        <div class="form-group">
            {{ form_widget(formSortie.submit, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
#}
        <div class="form-group">
            {{ form_row(formSortie.lieu,  {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="infoLieu">
        <p id='ville'> Ville : </p>

        <p id='cp'> Code Postal : </p>

        <p id='rue'> Rue : </p>

        <p id='latitude'> Latitude : </p>

        <p id='longitude'> Longitude : </p>
        </div>
        <div>
            <button class="btn btn-primary" type="submit" name="envoyer" value="enregistrer">Enregistrer</button>
            <button class="btn btn-primary" type="submit" name="envoyer" value="publier">Publier</button>
            <a class="btn btn-primary" href="{{ url('home_home') }}">Annuler</a>
        </div>
    </div>

    {{ form_end(formSortie) }}

    <script>
        //url de l'api est defini à 0
        const URL = "{{ path('api_lieu_api', {id:0}) }}";

        // on récupère chaque élément pour ensuite assigné des valeurs
        let lieu = document.getElementById('sortie_lieu');
        let ville = document.getElementById('ville');
        let cp = document.getElementById('cp');
        let rue = document.getElementById('rue');
        let latitude = document.getElementById('latitude');
        let longitude = document.getElementById('longitude');
        // ajout d'un event sur la liste déroulane
        lieu.addEventListener('change', function () {
            //récupération de la valeur de la variable
            let index = lieu.value;
            //remplacement du 0 du path par la valeur du lieu
            let url = URL.replace('0', index);

            $.ajax({
                url: url,
                type: 'GET',
                //data: {id: index},
                success: function (data) {
                    //assignation des valeurs aux paragraphe correspondant
                    ville.innerHTML = "Ville : " + data.ville.nom;
                    cp.innerHTML = "Code Postal : " + data.ville.codePostal;
                    rue.innerHTML = "Rue : " + data.rue;
                    latitude.innerHTML = "Latitude : " + data.latitude;
                    longitude.innerHTML = "Longitude : " + data.longitude;
                },
                //Si présence d'une erreur console log
                error: function (jqXHR, status, error) {
                    console.log('error' + error);
                }
            });
        })
        $('.infoLieu').hide(0);
        $('#sortie_lieu').click(function() {
            $('.infoLieu').show(2000);
        });
    </script>

{% endblock %}