{% extends 'base.html.twig' %}
{% block title %}Création d'une sortie <script src="/assets/app.js"></script>
{% endblock %}


{% block body %}

    <h1>Création d'une nouvelle sortie</h1>

    {% form_theme formSortie 'bootstrap_4_layout.html.twig' %}

    {# read and display all flash messages #}
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


    {{ form_start(formSortie) }}

    <div class="container">

        <div class="form-group" >
            {{ form_label((formSortie.nom)) }}
            {{ form_widget(formSortie.nom, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label((formSortie.dateHeureDebut)) }}
            {{ form_widget(formSortie.dateHeureDebut, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label((formSortie.duree)) }}
            {{ form_widget(formSortie.duree, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label((formSortie.dateLimiteInscription)) }}
            {{ form_widget(formSortie.dateLimiteInscription, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label((formSortie.nbInscriptionsMax)) }}
            {{ form_widget(formSortie.nbInscriptionsMax, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label((formSortie.infoSortie)) }}
            {{ form_widget(formSortie.infoSortie, {'attr': {'class': 'form-control'}}) }}
        </div>
{#
        <div class="form-group">
            {{ form_widget(formSortie.submit, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
#}
        <div class="form-group">
            {{ form_row(formSortie.lieu,  {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group" >
            <p id='ville'> Ville : </p>
        </div>

        <div class="form-group" >
            <p id='cp'> Code Postal : </p>
        </div>

        <div class="form-group" >
            <p id='rue'> Rue : </p>
        </div>

        <div class="form-group" >
            <p id='latitude'> Latitude : </p>
        </div>

        <div class="form-group" >
            <p id='longitude'> Longitude : </p>
        </div>

        <div>
            <button class="btn btn-primary" type="submit" name="envoyer" value="enregistrer">Enregistrer</button>
            <button class="btn btn-primary" type="submit" name="envoyer" value="publier">Publier</button>
            <a class="btn btn-primary" href="{{ url('home_home') }}">Annuler</a>
        </div>
    </div>
    <script>
        let lieu = document.getElementById('sortie_lieu') ;
        let ville = document.getElementById('ville');
        let cp = document.getElementById('cp');
        let rue = document.getElementById('rue');
        let latitude = document.getElementById('latitude');
        let longitude = document.getElementById('longitude');

        $(document).getElementById(lieu)
        $.ajax = function (param) {
            
        }
        {
            $.ajax({
                url : 'LieuApiController.php',
                type : 'GET',

                ville.innerHTML = data.lieu.ville
            });
        }

    </script>

    {{ form_end(formSortie) }}


{% endblock %}